{{define "body"}}
<div id="main-nav">
    <a href="#">PoB</a> &rsaquo; Farms
</div>
<div id="image">
    <nav>
        <div>
            <div id="name">Cougar Creek Ranch</div>
            <div style="font-size: 14px;">Ferndale, WA &bull; 5 connections <!-- trust - network, etc --></div>
        </div>
        <div>
            <button>Contact</button>
        </div>
    </nav>
</div>
<div id="nav">
    <a href="#">About</a>
    <a href="#">Updates</a>
    <a href="#">Buy</a>
</div>
<div class="ui-content-width">
    <h2>About</h2>
    <p>
        <div><b>What we have</b></div>
        Chickens, cows, and pigs
    </p>
    <p>
        <div><b>We are striving to be a permaculture farm</b></div>
        We currently have animals and are in the process of growing our own feed.
        We feed our animals the best feed that available
        and are striving to become a permaculture farm.
        <div><a href="#">Learn about how to find the best farm</a></div>
    </p>
    <p>
        <div><b>About the owners</b></div>
        Cougar Creek Ranch is owned by me, Karl, and my girlfriend, Samantha.
        This farm has been in my family for 4 generations. The last generation
        of my family didn't farm and this just felt right for me. I'm so happy
        to serve the Whatcom community.
    </p>
    <h2>Buy <!-- Subscribe, pickup, delivery --></h2>
    <ul>
        <li>Try us out</li>
        <li>Schedule a visit</li>
        <li>More info</li>
        <li>Subscriptions</li>
        <li>Pickup or delivery</li>
        <li>Elsewhere</li>
        <li>Contact us</li>
    </ul>
    <h2>Updates <!-- blog --></h2>
    <ul id="updates">
        <li>
            <div class="content">
                <div><small>5 hours ago</small></div>
                Hey everyone, we're closed this upcoming weekend 9/10-9/12 for vacation!
            </div>
        </li>
        <li>
            <div class="content">
                <div><small>About a week ago</small></div>
                Here's a 20% off code good until 9/20! Enjoy :)
            </div>
        </li>
        <li>
            <img src="/static/img/babies.jpg" alt="">
            <div class="content">
                <div><small>About a week ago</small></div>
                One of our cows just had babies this morning! Feel free to stop by and take a look at them, they are so cute!
            </div>
        </li>
        <li>
            <div class="content">
                <div><small>2 weeks ago</small></div>
                Our new season starts 10/1, so make sure you're signed up! We only have 12 subscriptions left.
            </div>
        </li>
    </ul>
</div>
{{end}}